$mainColor: #0066ff;
$secondColor: #cacaca;

.disk{
    width: 1140px;
    flex: 1;
    &__btns{
        margin-top: 20px;
        display: flex;
        button{
            font-family: 'Roboto', sans-serif;
            margin-right: 15px;
            padding: 4px 12px;
            font-size: 16px;
            background-color: $secondColor;
            border: none;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
            transition: background-color 0.1s ease-in-out;
            cursor: pointer;
            &:hover{
                background-color: $mainColor;
            }
        }
    }
    &__fileUpload {
        display: flex;
        input{
            display: none;
        }
        label{
            cursor: pointer;
            padding: 4px 12px;
            background-color: $secondColor;
            border: none;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
            transition: background-color 0.1s ease-in-out;
            cursor: pointer;
            &:hover{
                background-color: $mainColor;
            }
        }
    }
}

@media (max-width: 1200px) {
    .disk {
        width: 960px;
    }
}

@media (max-width: 1000px) {
    .disk {
        width: 720px;
    }
}
@media (max-width: 760px) {
    .disk {
        width: 540px;
    }
}
@media (max-width: 580px) {
    .disk {
        width: 100%;
        padding: 0 15px;
    }
}